
/*
body{
    background-image: url(./image/flower.webp);
    background-repeat: no-repeat;
    justify-content: center;
    
}
td:first-child{
    background-color: rgb(120, 120, 221);
} 

tr:first-of-type{
    background-color: rgb(112, 112, 230);
} 

tr:last-child{
    background-color: rgb(120, 120, 221);
}

:nth-child(5){
    background-color: rgb(112, 112, 233);
}

td:nth-of-type(4){
    background-color: rgb(247, 199, 247);
}

td:nth-of-type(3){
    background-color: rgb(223, 176, 228);
}

td:nth-of-type(2){
    background-color: rgb(222, 125, 231);
}


a:hover{
    color: rgb(77, 255, 0);
}

button:hover{
    color:red;
} 
*/


table,td,tr,th{
    border: 1px solid black;
    padding: 5px;

}

tr:nth-child(odd){
    background-color: rgb(246, 155, 90);
}

tr:nth-child(even){
    background-color: rgb(189, 235, 193);
}